.task-details-container {
    max-width: 60vw;
    margin: 5vh auto;
    padding: 2vh 4vw;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .calendar-container {
    width: 35%;
  }
  
  h2 {
    margin-bottom: 1.5vh;
  }
  
  hr {
    width: 100%;
    margin-bottom: 2vh;
  }
  
  .detail-section {
    width: 100%;
    margin-bottom: 4vh;
  }
  
  .detail-label {
    font-weight: bold;
  }
  
  .detail-content {
    margin-top: 0.5vh;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  button {
    width: 288px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 48px;

    border-radius: 24px;

    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;

    transition: background-color 0.3s;
}

button:hover {
    filter: brightness(90%);
}

.primary {
    background-color: #00CA5D;
}

.attention {
    background-color: #CC3C00;
}

.secondary {
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media (max-width: 1200px) {
  .task-details-container {
    max-width: 100%;
    margin: 0;
    padding: 2vh 4vw;
    border: none;
  }

  #details-container {
    flex-direction: column;
    justify-content: center;
  }

  .detail-section {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
    gap: 12px;
  }

  .calendar-container {
    margin: auto;
    margin-bottom: 24px;
    min-width: 200px;
  }

  button {
    width: 100%;
  }
}