<div class="task-creator-container">
    <h2>Edit task</h2>
    <hr>
    
    <div class="input-section">
      <label class="bold-label">Nazwa</label>
      <textarea id="new-task-name" [(ngModel)]="editedName" rows="1" placeholder="Przykładowy cel"></textarea>
    </div>
  
    <div class="input-section priority-section">
      <label class="bold-label">Priorytet</label>
      <div class="priority-options">
        <label>
          <input type="radio" name="priority" value="4" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Wysoki
        </label>
        <label>
          <input type="radio" name="priority" value="3" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Średni
        </label>
        <label>
          <input type="radio" name="priority" value="2" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Niski
        </label>
        <label>
          <input type="radio" name="priority" value="1" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Brak priorytetu
        </label>
      </div>
    </div>
  
    <div class="input-section">
      <textarea id="new-task-description" [(ngModel)]="editedDescription" rows="10" placeholder="Opis celu"></textarea>
    </div>
  
    <div class="input-section">
      <label class="bold-label">Znaczniki</label>
      <textarea id="new-task-tags" [(ngModel)]="editedTags" rows="1" placeholder="Dodaj znaczniki"></textarea>
    </div>

    <div class="input-section year-and-number-inputs">
      <div class="input-field">
        <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    
    <div class="button-container">
      <button class="cancel-button" (click)="goBack()">
        Anuluj
      </button>
      <button type="button" class="save-button" (click)="saveChanges()">
        Zapisz zmiany
      </button>
    </div>
  </div>
  