<div class="task-creator-container">
    <h2>Edit task</h2>
    <hr>
    
    <div class="input-section">
      <label class="bold-label">Nazwa</label>
      <textarea id="new-task-name" [(ngModel)]="editedName" rows="1" placeholder="Przykładowy cel"></textarea>
    </div>
  
    <div class="input-section priority-section">
      <label class="bold-label">Priorytet</label>
      <div class="priority-options">
        <label>
          <input type="radio" name="priority" value="Wysoki" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Wysoki
        </label>
        <label>
          <input type="radio" name="priority" value="Średni" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Średni
        </label>
        <label>
          <input type="radio" name="priority" value="Niski" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Niski
        </label>
        <label>
          <input type="radio" name="priority" value="Brak priorytetu" [(ngModel)]="priority">
          <span class="custom-checkbox"></span> Brak priorytetu
        </label>
      </div>
    </div>
  
    <div class="input-section">
      <label class="bold-label">Opis</label>
      <textarea id="new-task-description" [(ngModel)]="editedDescription" rows="10" placeholder="Opis celu"></textarea>
    </div>
  
    <div class="input-section">
      <label class="bold-label">Znaczniki</label>
      <textarea id="new-task-tags" [(ngModel)]="editedTags" rows="1" placeholder="Dodaj znaczniki"></textarea>
    </div>
    <button type="button" class="save-button" (click)="saveChanges()">
        Zapisz zmiany
      </button>
  </div>
  