<div id="navbar">
    <app-navbar-header name="Listy"></app-navbar-header>
    <app-navbar-list-selector name="Tygodnie"></app-navbar-list-selector>
    <app-navbar-list-selector name="Miesiące"></app-navbar-list-selector>
    <app-navbar-list-selector name="Lata"></app-navbar-list-selector>
    <app-separator></app-separator>
    <app-navbar-header name="Znaczniki"></app-navbar-header>
    <app-navbar-list-selector name="jezyki"></app-navbar-list-selector>
    <app-navbar-list-selector name="uczelnia"></app-navbar-list-selector>
    <app-navbar-list-selector name="praca"></app-navbar-list-selector>
</div>