.aim {
    display: flex;
    margin: 0px 8px;
}

a {
    margin: 0;
    margin-left: 16px;
    padding: 14px 0px;

    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.checked {
    color: #B3B3B3;
}