.task-creator-container {
    max-width: 60vw;
    margin: 5vh auto;
    padding: 2vh 4vw;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  h2 {
    margin-bottom: 1.5vh;
  }
  
  hr {
    width: 100%;
    margin-bottom: 2vh;
  }
  
  .input-section {
    width: 100%;
    margin-bottom: 1.5vh;
  }
  
  .input-section textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1vh;
    box-sizing: border-box;
  }
  .input-section textarea:hover {
    border-color: #000000;
  }
  .priority-section {
    width: 100%;
  }
  
  .priority-options {
    display: flex;
    justify-content: space-between;
  }
  
  .priority-options label {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .priority-options span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    border: 2px solid #808080;
    box-sizing: border-box;
  }
  
  .priority-options input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
    /*po interakcji*/
  
    .priority-options input[value="4"]:checked + span {
      background-color: #ff0000;
      border-color: #ff0000;
    }
    
    .priority-options input[value="3"]:checked + span {
      background-color: #cfcf00;
      border-color: #cfcf00;
    }
    
    .priority-options input[value="2"]:checked + span {
      background-color: #008000;
      border-color: #008000;
    }
    
    .priority-options input[value="1"]:checked + span {
      background-color: #808080;
      border-color: #808080;
    }
    
    .priority-options input:checked + span::before {
      color: #fff;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
    }
    
    /*przed interakcją*/
    
    .priority-options input[value="4"]:not(:checked) + span {
      border-color: #ff0000;
    }
    
    .priority-options input[value="3"]:not(:checked) + span {
      border-color: #cfcf00;
    }
    
    .priority-options input[value="2"]:not(:checked) + span {
      border-color: #008000;
    }
    
    .priority-options input[value="1"]:not(:checked) + span {
      border-color: #808080;
    }
  
    .priority-options input:hover + span {
      background-color: #4d85ff;
      border-color: #4d85ff !important; /*important aby border był taki sam*/
    }
  
  .label-text {
    margin-left: 25px;
  }
  
  label {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
  }
  
  label.bold-label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
  }

  .year-and-number-inputs {
    display: flex;
    justify-content: column;
  }
  
  .year-and-number-inputs input[type="number"] {
    border: 2px solid #ccc;
    margin-bottom: 1vh;
    border-radius: 5px;
    padding: 1vh;
    box-sizing: border-box;
    width: 48%;
  }

  .spacer {
    width: 100px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .save-button {
    background-color: #4caf50;
    color: white;
    padding: 1vh 4vw;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .save-button:hover {
    background-color: #45a049;
  }

  .cancel-button {
    background-color: white;
    color: #000000;
    padding: 1vh 4vw;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
