<div class="task-creator-container">
  <h2>Stwórz cel</h2>
  <hr>
  
  <div class="input-section">
    <label class="bold-label">Nazwa</label>
    <textarea id="new-task-name" #taskName rows="1" placeholder="Przykładowy cel" style="resize: none;"></textarea>
  </div>

  <div class="input-section priority-section">
    <label class="bold-label">Priorytet</label>
    <div class="priority-options">
      <label>
        <input type="radio" name="priority" value="4" [(ngModel)]="priority">
        <span class="custom-checkbox"></span> Wysoki
      </label>
      <label>
        <input type="radio" name="priority" value="3" [(ngModel)]="priority">
        <span class="custom-checkbox"></span> Średni
      </label>
      <label>
        <input type="radio" name="priority" value="2" [(ngModel)]="priority">
        <span class="custom-checkbox"></span> Niski
      </label>
      <label>
        <input type="radio" name="priority" value="1" [(ngModel)]="priority">
        <span class="custom-checkbox"></span> Brak priorytetu
      </label>
    </div>
  </div>

  <div class="input-section">
    <label class="bold-label">Opis</label>
    <textarea id="new-task-description" #taskDescription rows="10" placeholder="Opis celu" style="resize: none;"></textarea>
  </div>

  <div class="input-section">
    <label class="bold-label">Znaczniki</label>
    <textarea id="new-task-tags" #taskTags rows="1" placeholder="Dodaj znaczniki" style="resize: none;"></textarea>
  </div>

  <div class="input-section year-and-number-inputs">
    <div class="input-field">
      <label class="bold-label">Rok</label>
      <textarea id="new-year" #year rows="1" placeholder="Rok" style="resize: none;"></textarea>
    </div>
    <div class="spacer"></div>
    <div class="input-field">
      <label class="bold-label">Numer tygodnia/miesiąca</label>
      <textarea id="new-number" #spanValue rows="1" placeholder="Number" style="resize: none;"></textarea>
    </div>
  </div>
  
  <div class="button-container">
    <button class="cancel-button" (click)="goBack()">
      Anuluj
    </button>
    <button class="save-button" (click)="add(taskName.value, +priority, taskDescription.value, taskTags.value, +year.value, +spanValue.value); taskName.value=''; taskDescription.value=''; taskTags.value='';">
      Zapisz
    </button>
  </div>
</div>
