@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: "Inter";
}

.login-button {
  width: 256px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 48px;

  background-color: #00CA5D; 
  border-radius: 24px;

  color: white;
  font-size: 24px;
  font-weight: 700;
}

.login-button:hover {
  filter: brightness(90%);
}
