#login-prompt > button {
  height: 64px;
  width: 340px;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  background-color: #00CA5D;
  border-radius: 32px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  color: white;
  font-size: 24px;
  font-weight: 600;
}

#login-prompt > button:hover {
  background-color: #00b253;
}
