<div>
    <app-navbar class="collapsed" (selectedListChanged)="onSelectedListChanged($event)" [dashboardInit]="dashboardInitSubject.asObservable()"></app-navbar>
    <app-separator-vertical></app-separator-vertical>
    <ng-container *ngIf="selectedList.getType() === TAG">
        <app-tag-list class="visible" [aimSource]="selectedList"></app-tag-list>
    </ng-container>
    <ng-container #elseTemplate>
        <app-timespan-list class="visible" [aimSource]="listAsTimespanned"></app-timespan-list>
    </ng-container>
</div>