<div>
    <app-navbar [ngClass]="menuActive ? 'visible' : 'collapsed'" (hamburgerClicked)="hamburgerToggle()" (selectedListChanged)="onSelectedListChanged($event)" [dashboardInit]="dashboardInitSubject.asObservable()"></app-navbar>
    <app-separator-vertical></app-separator-vertical>
    <ng-container *ngIf="selectedList.getType() === TAG">
        <app-tag-list [ngClass]="!menuActive ? 'visible' : 'collapsed'" [aimSource]="selectedList"></app-tag-list>
    </ng-container>
    <ng-container #elseTemplate>
        <app-timespan-list [ngClass]="!menuActive ? 'visible' : 'collapsed'" (hamburgerClicked)="hamburgerToggle()" [aimSource]="listAsTimespanned"></app-timespan-list>
    </ng-container>
</div>