#timespan-list-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#timespan-list-container > app-list-header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.aim-container {
    flex: 1 1 auto;
    overflow: scroll;
}